<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047427034708-s7lfvcmhv4rs22d62b1c1b0ubvckfuql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047427034708-s7lfvcmhv4rs22d62b1c1b0ubvckfuql</string>
	<key>API_KEY</key>
	<string>AIzaSyDCRX0OKbErfctPTOLPsfwA6NAK_crqFAg</string>
	<key>GCM_SENDER_ID</key>
	<string>1047427034708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TAROKH.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-62857</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-62857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047427034708:ios:7e136c18696c5a2f7d07c1</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-62857.firebaseio.com</string>
</dict>
</plist>